* {
  margin: 0;
  box-sizing: border-box;
}
.app__container {
  // max-width: 70rem;
  margin: 0 auto;
  padding: 1.5rem;
}
.app__infobox__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.flex-direction-column {
  display: flex;
  flex-direction: column;
}
.flex-grow-one {
  flex-grow: 1;
}
.fullheight__parent {
  .MuiCard-root {
    height: 100%;
  }
}
